# Intro to Pandas and Visualization

In this example, we will explore the `DataFrame` type which is available in the `pandas` library, and some basics of how to use it. Then we will show how to do basic plots and charts using these `DataFrame`s.

## Intro to Pandas `DataFrame`

A `DataFrame` is basically a table that we can use as just another type of object in Python. The simplest way to construct a `DataFrame` (without loading from an external file) is to first create an empty `DataFrame`, then add some columns to that `DataFrame`.

### Creating `DataFrame`s

As the `DataFrame` is in the `pandas` library, we will have to import that. The convention is to import it as `pd`:

In [1]:
import pandas as pd

Now we can go on to creating our first `DataFrame`.

#### Create First, Assign Columns Later

In [2]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

As we have seen with other custom types, we put the name of the class and then parenthes to construct it. While the `DataFrame` is empty, it doesn't look like much. Let's add some columns.

In [3]:
df['Name'] = ['Joe', 'Jim', 'Mary']
df

   Name
0   Joe
1   Jim
2  Mary

We can see we have now added a column `Name` to the `DataFrame`, with the values Joe, Jim, and Mary. Let's add three more columns.

In [4]:
df['Weight'] = [150, 200, 130]
df['Reservation Price'] = [10.12, 15.17, 13.25]
df['Percentage Active'] = [0.6, 0.4, 0.7]
df

   Name  Weight  Reservation Price  Percentage Active
0   Joe     150              10.12                0.6
1   Jim     200              15.17                0.4
2  Mary     130              13.25                0.7

Now we have each row of the table representing a person, with the columns representing their name, weight, and price they would be willing to pay for some good. 

#### Create and Assign Columns at Same Time

The `DataFrame` could have been constructed equivalently by passing a list of tuples to the constructor, where each tuple represents one row in the `DataFrame`. Then the column names are passed as a separate list:

In [5]:
df = pd.DataFrame(
    [
        ('Joe', 150, 10.12, 0.6),
        ('Jim', 200, 15.17, 0.4),
        ('Mary', 130, 13.25, 0.7)
    ],
    columns=['Name', 'Weight', 'Reservation Price', 'Percentage Active']
)
df

   Name  Weight  Reservation Price  Percentage Active
0   Joe     150              10.12                0.6
1   Jim     200              15.17                0.4
2  Mary     130              13.25                0.7

## Selecting From `DataFrame`s

Sort of like a dictionary, put the name of the column in brackets to access it:

In [6]:
df['Reservation Price']

0    10.12
1    15.17
2    13.25
Name: Reservation Price, dtype: float64

One column of a `DataFrame` is called a `Series`.

In [7]:
type(df['Reservation Price'])

pandas.core.series.Series

Select multiple columns by passing a list:

In [8]:
df[['Reservation Price', 'Weight']]

   Reservation Price  Weight
0              10.12     150
1              15.17     200
2              13.25     130

Access individual rows by `.iloc` and the zero-based index of the row:

In [9]:
df.iloc[0]

Name                   Joe
Weight                 150
Reservation Price    10.12
Percentage Active      0.6
Name: 0, dtype: object

Access from both columns and rows at the same time using `.loc`:

In [10]:
df.loc[0, 'Reservation Price']

10.12

You can also query the `DataFrame`:

In [11]:
df[df['Reservation Price'] < 14]

   Name  Weight  Reservation Price  Percentage Active
0   Joe     150              10.12                0.6
2  Mary     130              13.25                0.7

Read the above as "The `DataFrame` where the `DataFrame`'s reservation price is less than 14".

In [12]:
df[(df['Reservation Price'] < 14) & (df['Percentage Active'] > 0.6)]

   Name  Weight  Reservation Price  Percentage Active
2  Mary     130              13.25                0.7

Read the above as "The `DataFrame` where the `DataFrame`'s reservation price is less than 14 and where the `DataFrame`'s percentage active is greater than 60%".

You can also use `.loc` in combination with this query syntax to grab specific columns:

In [13]:
df.loc[
    (df['Reservation Price'] < 14) & (df['Percentage Active'] > 0.6),
    ['Name', 'Weight']
]

   Name  Weight
2  Mary     130

## Math with `DataFrame`s

Basic math can be done with `DataFrame` columns.

In [14]:
df['Reservation Price'] + 10

0    20.12
1    25.17
2    23.25
Name: Reservation Price, dtype: float64

In [15]:
df['Reservation Price'] * df['Percentage Active']

0    6.072
1    6.068
2    9.275
dtype: float64

Also, if the entire `DataFrame` is numbers, you can do math with that as well:

In [16]:
df[['Reservation Price', 'Weight']] * 10

   Reservation Price  Weight
0              101.2    1500
1              151.7    2000
2              132.5    1300

## `DataFrame` Summary Statistics

There are some nice methods built in to `DataFrames` for summary info:

`.describe` gives you all the summary statistics:

In [46]:
df.describe()

           Weight  Reservation Price  Percentage Active
count    3.000000           3.000000           3.000000
mean   160.000000          12.846667           0.566667
std     36.055513           2.549046           0.152753
min    130.000000          10.120000           0.400000
25%    140.000000          11.685000           0.500000
50%    150.000000          13.250000           0.600000
75%    175.000000          14.210000           0.650000
max    200.000000          15.170000           0.700000

Average with `.mean`:

In [48]:
df.mean()

Weight               160.000000
Reservation Price     12.846667
Percentage Active      0.566667
dtype: float64

Standard deviations:

In [49]:
df.std()

Weight               36.055513
Reservation Price     2.549046
Percentage Active     0.152753
dtype: float64

Median: (other percentiles available)

In [51]:
df.quantile(0.5)

Weight               150.00
Reservation Price     13.25
Percentage Active      0.60
Name: 0.5, dtype: float64

Minimum:

In [52]:
df.min()

Name                   Jim
Weight                 130
Reservation Price    10.12
Percentage Active      0.4
dtype: object

Maximum:

In [53]:
df.max()

Name                  Mary
Weight                 200
Reservation Price    15.17
Percentage Active      0.7
dtype: object

Any of these can be applied on a row instead of a column:

In [55]:
df.mean(axis=1)

0    53.573333
1    71.856667
2    47.983333
dtype: float64

### Apply Any Function to a `DataFrame`

We can apply any arbitrary function to each of the values in the `DataFrame` using `.applymap`.

In [17]:
def multiply_by_100(value):
    return value * 100

df.applymap(multiply_by_100)

,Name,Weight,Reservation Price,Percentage Active
0,JoeJoeJoeJoeJoeJoeJoeJoeJoeJoeJoeJoeJoeJoeJoeJ...,15000,1012.0,60.0
1,JimJimJimJimJimJimJimJimJimJimJimJimJimJimJimJ...,20000,1517.0,40.0
2,MaryMaryMaryMaryMaryMaryMaryMaryMaryMaryMaryMa...,13000,1325.0,70.0

Though be careful the function works with all your data types, you can see this one accidentally repeated the names 100x!

## `DataFrame` Styling

It is possible to style `DataFrames` with static and conditional formatting. In general, after styling, a `Styler` object is returned. This displays as the styled `DataFrame` but is not actually a `DataFrame`. So you will want to do your styling last, just for display, not on an intermediate `DataFrame` that you're using for calculations.

See [the `pandas` guide on styling here.](https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html) 

### Number Formatting

We can set number formatting in a `DataFrame` much in the same way as we would set it in an f-string. Here is the f-string version for review:

In [18]:
my_num = 10.12
f'${my_num:,.2f}'

'$10.12'

Now here it is applied to the `DataFrame` column `Reservation Price`. You can see that the format code looks the same, only we omit the variable name before the colon.

The actual call to format looks a bit different. Here we must pass to `df.style.format` a dictionary whose keys are the column names and values are the format specifier strings.

In [19]:
s = df.style.format({
    'Reservation Price': "${:,.2f}"
})
s

We can see that this formatted the `Reservation Price` column with the format we specified. We can also see that the type of this object is `Styler`.

In [20]:
type(s)

pandas.io.formats.style.Styler

We can now do this for `Percentage Active` as well.

In [21]:
s = s.format({
    'Percentage Active': '{:.0%}'
})
s

We can either chain additional format calls on the existing `Styler`, as shown above, or we can do it from the original `DataFrame` passing both formats at once:

In [22]:
s = df.style.format({
    'Reservation Price': "${:,.2f}",
    'Percentage Active': '{:.0%}'
})
s

### Cell Formatting

We can apply any formatting to each individual cell. To apply the formatting cell by cell, use `.applymap` on the `Styler` object. It works the same as `DataFrame.applymap`. The formatting function passed to `Styler.applymap` must return a string. The contents of this string should be CSS properties for the HTML representation of the `DataFrame`, separated by semicolons. Typically, `color`, `background-color`, and `text-align` are the three needed properties. 

So you can return `color: blue` to turn the text blue:

In [23]:
def set_color_to_blue(value):
    return 'color: blue'

df.style.applymap(set_color_to_blue)

Note: As it's CSS, you can use absolutely any color you want by [specifying its hex or RGB code.](https://www.w3schools.com/colors/colors_picker.asp) Or you can pick from a list of [predefined color names here.](https://www.w3schools.com/cssref/css_colors.asp)

Or you can set the background color to light green:

In [24]:
def set_bg_to_light_green(value):
    return 'background-color: lightgreen'

df.style.applymap(set_bg_to_light_green)

Or center the cells:

In [25]:
def center_cell(value):
    return 'text-align: center'

df.style.applymap(center_cell)

Or you can set the background color, and text color, and text alignment all at once:

In [26]:
def set_color_to_white_on_black_centered(value):
    return 'color: white; background-color: black; text-align: center'

df.style.applymap(set_color_to_white_on_black_centered)

### Conditional Formatting

We have seen already we are using arbitrary functions to apply the styling to the `DataFrame`s. It is trivial to add some conditional logic to these functions to use conditional formatting. For example, let's highlight in red anyone who is active less than 50% of the time:

In [27]:
def highlight_inactive(value):
    
    # This section needed to handle Name column
    if isinstance(value, str):  # isinstance checks: is value of type str?
        return ''
    
    # Main logic
    if value < 0.5:
        return 'background-color: pink'
    return ''

df.style.applymap(highlight_inactive)

We can see that the function operates one cell at a time. If we return an empty string, then that cell will not get formatted. If it's ever not clear which styles are getting applied where, you can directly do an `.applymap` on the `DataFrame` rather than the `Styler` to see where they are getting applied:

In [28]:
df.applymap(highlight_inactive)

  Name Weight Reservation Price       Percentage Active
0
1                                background-color: pink
2

## Overall Table Formatting

We can hide the index if it's not useful.

In [29]:
df.style.hide_index()

You can also hide columns you don't need in the presentation:

In [30]:
df.style.hide_columns(['Weight'])

You can add a title to your `DataFrame`:

In [31]:
df.style.set_caption('My Table')

You can also change the overall look of the table. This is considered an advanced feature and I will only just mention it and not cover it in detail. Here is the example from the `pandas` documentation:

In [32]:
def hover(hover_color="#ffff99"):
    return dict(selector="tr:hover",
                props=[("background-color", hover_color)])

styles = [
    hover(),
    dict(selector="th", props=[("font-size", "150%"),
                               ("text-align", "center")]),
    dict(selector="caption", props=[("caption-side", "bottom")])
]
df.style.set_table_styles(styles).set_caption("Hover to highlight.")

## Inline Bar Charts

While this would have been possible with conditional formatting alone, `pandas` also provides a convenient method to create a bar graph within `DataFrame` columns:

In [33]:
df.style.bar()

We can see that the bars are longer when the value in the column is greater. There are also different alignments for the bar.

In [34]:
df.style.bar(align='zero', color='lightblue')

In [35]:
df.style.bar(align='mid', color='lightgreen', subset=['Reservation Price'])

## How to Organize Styling Code

You can see that none of this styling that we've applied in various spots has come back to the `DataFrame` itself:

In [36]:
df

   Name  Weight  Reservation Price  Percentage Active
0   Joe     150              10.12                0.6
1   Jim     200              15.17                0.4
2  Mary     130              13.25                0.7

If you have multiple `DataFrame`s you want to format in the same fashion, then you can write a function for it:

In [37]:
def styled_df(df):
    s = (  # parentheses as group to split onto multiple lines
        df.style.format({
            'Reservation Price': "${:,.2f}",
            'Percentage Active': '{:.0%}'
        })
        .applymap(highlight_inactive)
        .applymap(center_cell)
        .hide_index()
        .set_caption('Personal Info')
        .bar(align='mid', color='lightgreen', subset=['Reservation Price'])
    )
    return s

Now we can apply this formatting to our original `DataFrame` to view it:

In [38]:
styled_df(df)

We can also apply it to other `DataFrame`s now that we have a general function.

In [39]:
styled_df(df[['Reservation Price', 'Percentage Active']] * 0.8)

## Some Common Formatting Shortcuts

You can accomplish all cell and number formatting with `.format`, and `.applymap`. But there are some shortcuts for common design patterns:

Highlighting the max value in a column:

In [40]:
df.style.highlight_max()

As with other commands, you can specify colors or subset of columns.

In [41]:
df.style.highlight_max(color='lightblue', subset=['Weight', 'Reservation Price'])

Highlighting the minimum value in a column:

In [42]:
df.style.highlight_min()

Same style options supported.

In [43]:
df.style.highlight_min(color='lightblue', subset=['Weight', 'Reservation Price'])

Make a gradient based on the values within a column. Here it's getting darker for a higher value by default:

In [44]:
df.style.background_gradient()

Set the color of the gradient to green for high, yellow for mid, and red for low.

In [45]:
df.style.background_gradient(cmap='RdYlGn')