# Imports

In [1]:
import pandas as pd

# Read a DataFrame From an Excel File

Pandas has a read_excel function which can be used to create a DataFrame from an Excel file.

In [2]:
df = pd.read_excel('Stock Data.xlsx')
df

  Stock  Price       Date
0  MSFT    100 2019-01-01
1  MSFT    110 2019-02-01
2  MSFT    105 2019-03-01
3  MSFT    112 2019-04-01
4  AAPL    500 2019-01-01
5  AAPL    512 2019-02-01
6  AAPL    482 2019-03-01
7  AAPL    525 2019-04-01

By default, it will load the first sheet. However, we can pass a name of a sheet to get that sheet instead.

In [3]:
df = pd.read_excel('Stock Data.xlsx', sheet_name='The Second Sheet')
df

  Stock  Price       Date
0  AMZN     30 2019-01-01
1  AMZN     35 2019-02-01
2  AMZN     28 2019-03-01
3  AMZN     32 2019-04-01
4    FB    900 2019-01-01
5    FB    910 2019-02-01
6    FB    920 2019-03-01
7    FB    930 2019-04-01

# Write a DataFrame to an Excel File

## WARNING

Do not output to an existing workbook, as the original workbook will be overwritten. There is no undo!

Pandas provides `DataFrame.to_excel` to create Excel workbooks from DataFrames. But first, let's modify the data to ensure we're outputting the current `DataFrame`. We'll go ahead and add a column.

In [4]:
df['Custom Column'] = 'stuff'
df

  Stock  Price       Date Custom Column
0  AMZN     30 2019-01-01         stuff
1  AMZN     35 2019-02-01         stuff
2  AMZN     28 2019-03-01         stuff
3  AMZN     32 2019-04-01         stuff
4    FB    900 2019-01-01         stuff
5    FB    910 2019-02-01         stuff
6    FB    920 2019-03-01         stuff
7    FB    930 2019-04-01         stuff

Now let's write this to a workbook. You just need to specify what to call the new workbook. You must end it with `.xlsx` for it to be a valid workbook.

In [5]:
df.to_excel('New Book.xlsx')

After running the contents to here, you should now see `New Book.xlsx` in the same folder as this notebook. Open it and verify that the contents match the `DataFrame`.

You'll notice that the created workbook has the 0, 1, 2... index alongside it, which we don't want. Just pass `index=False` to get rid of it. Make sure you close the workbook before trying to write to it again, or you'll get an error.

In [6]:
df.to_excel('New Book.xlsx', index=False)

Now the data looks like we want. The only thing is it's currently outputting to a sheet named "Sheet1", but we may want a better name. You can provide it here.

In [7]:
df.to_excel('New Book.xlsx', index=False, sheet_name='Stock Data')

Now it has a proper sheet name and the data displays properly.

# Advanced

The following will not be covered in class, but may be useful for you.

## Writing to Multiple Sheets

While in general, writing to a workbook replaces it, there is a way to write multiple sheets to a workbook, through the `ExcelWriter`. But first let's create a second `DataFrame` to write.

In [8]:
df2 = df.copy()
df2['Custom Column'] = 'other stuff'
df2

  Stock  Price       Date Custom Column
0  AMZN     30 2019-01-01   other stuff
1  AMZN     35 2019-02-01   other stuff
2  AMZN     28 2019-03-01   other stuff
3  AMZN     32 2019-04-01   other stuff
4    FB    900 2019-01-01   other stuff
5    FB    910 2019-02-01   other stuff
6    FB    920 2019-03-01   other stuff
7    FB    930 2019-04-01   other stuff

Now that we have two `DataFrame`s, let's write them to the same workbook. Here we must use the `with` syntax and instead of passing the file path to each `to_excel` command, we will pass the writer.

In [9]:
with pd.ExcelWriter('New Book.xlsx') as writer:
    df.to_excel(writer, sheet_name='First Df', index=False)
    df2.to_excel(writer, sheet_name='Second Df', index=False)

Now you should see both `DataFrame`s as sheets in the workbook.